@model List<ASP02.Models.WorkerModel>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <a href="/Home/Add" >Új dolgozó felvétele</a>

    <table border="1" width="100%" cellpadding="5">
        <tr>
            <th>Név</th>
            <th>Beosztás</th>
            <th>Fizetés</th>
            <th>Lehetőségek</th>
        </tr>


        @{

            foreach (var item in @Model)
            {
        <tr>
            <td>@item.Name</td>
            <td>@item.Job</td>

            @{
                switch (item.SalaryCategory)
                {
                    case ASP02.Models.SalaryCategories.Low:
                        <td><font color="blue">@item.Salary</font></td>
                        break;
                    case ASP02.Models.SalaryCategories.Middle:
                        <td><font color="green">@item.Salary</font></td>
                        break;
                    case ASP02.Models.SalaryCategories.High:
                        <td><font color="red">@item.Salary</font></td>
                        break;
                    default:
                        break;
                }
            }



            <td>
                <a href="/Home/Delete?hashcode=
                         @item.GetHashCode()">Törlés</a>

                &nbsp;|&nbsp;

                <a href="/Home/Modify?hashcode=
                         @item.GetHashCode()">Módosítás</a>

            </td>
        </tr>
            }
        
        }
                
            </table>

</body>
</html>
